# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
**/bin/
**/obj/

# Rider
.idea/

# IIS Express
.vs/

# Archivos de docker, logs, cachés
docker-compose.*.yml
*.log
.DS_Store