# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Build artifacts
bin/
obj/
**/bin/
**/obj/


# Otros temporales
*.log
*.tlog
*.tmp
*.cache
*.bak

# Archivos de configuración local de Visual Studio
*.sdf
*.dbmdl
*.vssscc
*.vspscc


# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de publicación
**/publish/
**/TestResults/
**/*.Publish.xml

# Archivos de usuario de VS Code
.vscode/

# Archivos del servidor local
*.pid
